/** BOTAO PADRAO **/
.status-text{
    background:#c7c7c7;
    color: #fff;
    border-radius: 3px;
    padding: 0px 3px 2px 3px;
    font-size: 11px;
    text-align: center;
}

/** BOTAO SUCESSO **/
.status-success{
    background:#30a524 !important;
}

/** BOTAO ERROR **/
.status-error{
    background:#f13f3f;
}

/** BOTAO PADRAO **/
.button-resumo{
    min-width: 100px;
    border-radius: 6px;
    font-size: 13px;
    text-transform: uppercase;
    color: #333;
    cursor: pointer;
}

.button-resumo:hover{
    color: #fff;
    background: #c5c5c5;
}

.btn-enviar-avaliacao{
    padding: 10px !important;
    border-radius: 4px !important;
    font-weight: bold !important;
    cursor: pointer;
}

.select-resumo{
    width: 463px !important;
    height: 43px !important;
}

#post span{
    margin-bottom: 10px;
}

input.error, select.error, textarea.error{
    border: 2px solid red !important;
}