fieldset {
    border: 0 none;
}

.menuPort nav > ul > .current-page-ancestor > a{
    border-bottom: 2px solid #3ea2e0;
}


.mainHeader .login{
	float: right;
	position: relative;
	text-align: right;
	line-height: 50px;
	padding-left: 50px;
}
.mainHeader .login small{
	display: block;
	line-height: 10px;
	position: absolute;
	top: 50px;
	right: 0;
	text-align: right;
	width: 100%;
}

.header .btBreadCrumbs ul,
.header .btBreadCrumbs ol,
.header .btBreadCrumbs li{
	margin-bottom: 0;
}

.maya-list{
	min-height: 100px;
	width: 100%;
	position: relative;
	margin-bottom: 25px;
}
.maya-list img{
	position: absolute; top: 0; left: 0;
}
.maya-list figcaption{
	margin-left: 125px;
}


#listQuestions{}

dl#listQuestions dl{
	display: block;
}

dl#listQuestions dt{
	clear: both;
	padding-top: 50px;
	display: block;
}
dl#listQuestions dt:first-child{
	padding-top: 0;
}

dl#listQuestions dt h2:after{
    content: '';
    clear: both;
    width: 60px;
    display: block;
    border-bottom: 3px solid #3ea2e0;
    margin: 10px 0 0;
}

dl#listQuestions dd{
	float: left;
	margin: 0 25px 25px 0;
	text-align: center;
	width: 210px;
	height: 250px;
}
dl#listQuestions dd a{
	display: block;
	height: 100%;
}

section#listQuestions{}

section#listQuestions .decor{
	float: right;
	margin-left: 25px;
}
section#listQuestions h2{
	
}
section#listQuestions p{

}




#askAstronomer ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
#askAstronomer li{
	padding: 0;
	margin: 0;
	padding-bottom: 10px;
}
#askAstronomer label{
	color: #000;
}
#askAstronomer textarea{
	height: 150px;
	min-height: 150px;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
}
#askAstronomer input,
#askAstronomer textarea{
	border: 1px solid rgba(0, 0, 0, 0.2);
}
#askAstronomer button{
    height: 38px;
    background: #3ea2e0;
    border: 0;
    cursor: pointer;
    padding: 0 15px;
    line-height: 38px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
#askAstronomer .error{
	border-color: red;
}
#askAstronomer .submit{
	text-align: right;
	padding-bottom: 0;
}
#askAstronomer .message{
	text-align: center;
	display: none;
	padding: 10px;
	margin: 10px 0;
	text-align: center;
	font-weight: bold;
}
#askAstronomer .message.message-error{
	border: 1px solid red;
}
#askAstronomer .message.message-success{
	border: 1px solid green;
}

.lineAskAstronomer{
position: relative;
}

.lineAskAstronomer .btSearch{
	width: 70%;
}

.lineAskAstronomer .btAskInner{
	position: absolute;
	top: 0; 
	right: 0;
}

.btAskInner a{
	display: block;
	height: 38px;
    background: #3ea2e0;
    border: 0;
    cursor: pointer;
    padding: 0 15px;
    line-height: 38px;
    color: #fff!important;
    font-weight: bold;
    text-transform: uppercase;
}

.btText > .rowItem {margin-bottom: 20px;}

.img-astronomo-maya img {
    display: block;
    margin: 10px 0;
}

.img-astronomo-maya > span {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    padding-bottom: 1px;
    padding-top: 1px;
	font-family: "Roboto";
	display: block;
	height: 140px;
	overflow: hidden;
}

/*.box-resenha-livros-inter .bpbItem > img {
	width: auto;
}*/
.post-template-default .btMediaBox img {
	margin: 0 auto;
    width: auto;
}

/* Minha conta */
.woocommerce-MyAccount-navigation {
	margin-left: -20px;
}
.woocommerce-MyAccount-navigation ul li {
    display: inline-block;
}

.membership-actions .button {
    display: block;
    text-align: center;
}

/* Produto */
.woocommerce div.product div.images, .woocommerce-page div.product div.images {
	width: 28%;
}

.woocommerce div.product div.summary, 
.woocommerce-page div.product div.summary {
	width: 68%;
}


.acf-field-true-false .acf-label,
.acf-field-true-false .acf-input{
	display: inline-block;
}
.acf-field-true-false .acf-label label{
	margin-right: 10px!important;
}
.acf-field-true-false .acf-input input{
	vertical-align: middle;
}

.list-socios, .list-socios tr, .list-socios tr td{ border: 0!important; }
.list-socios tr{}
.list-socios tr td{ width: 40%; padding: 0.5em; }
.list-socios tr td small{ color: rgba(51, 51, 51, 0.7); }




.btContent > .woocommerce > .wc-memberships-content-restricted-message{
	max-width: 1360px!important;
    margin: 0 auto!important;
}

@media (max-width: 1399px) {
	.btContent > .woocommerce > .wc-memberships-content-restricted-message{
	    width: 100%!important;
	    max-width: none!important;
    }
}

.btPageWrap{
	overflow: visible;
}


#galaxy-zoo{

}
#galaxy-zoo dl{}
#galaxy-zoo dl dt{
	float: left;
	width: 424px;
}
#galaxy-zoo dl dd{
	margin-left: 500px;
}
#galaxy-zoo dl dd ul{
	list-style: none;
	line-height: 3.5em;
	margin: 0;
	padding: 0;
}
#galaxy-zoo dl dd ul li{}

#galaxy-zoo dl dd ul li label,
#galaxy-zoo dl dd ul li input,
#galaxy-zoo dl dd ul li img{
	vertical-align: middle;
}
#galaxy-zoo dl dd ul li label{
	cursor: pointer;
}
#galaxy-zoo dl dd ul li label:hover{
	text-decoration: underline;
}
#galaxy-zoo dl dd ul li input{
	visibility: hidden;
}